@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

$font-family-nunito: 'Nunito', sans-serif;
$color-primary: #1F64FF;
$color-secondary: #C2DAFB;

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}